.formField {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;

    &__field {
        position: relative;
        display: flex;
        align-items: center;
    }

    &__icon {
        position: absolute;
        left: 16px;
        color: var(--content-disabled);
        pointer-events: none;

        &.light {
            color: var(--content-placeholder);
        }
    }

    &__input {
        padding-left: 52px;
    }

    &__error {
        font-family: var(--font-main);
        font-size: clamp(12px, 1.2vw, 14px);
        line-height: clamp(16px, 1.6vw, 20px);
        color: var(--content-error);
    }
}
