/* Font "Play" — используется во всех текстовых стилях UI-kit (body 18 reg / body 18 bold / body 24 reg) */

@font-face {
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('https://fonts.gstatic.com/s/play/v21/6aez4K2oVqwIjtI.ttf') format('truetype');
}

@font-face {
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('https://fonts.gstatic.com/s/play/v21/6ae84K2oVqwItm4TOpc.ttf') format('truetype');
}
