.search {
    position: relative;
    display: flex;
    align-items: center;

    &__icon {
        position: absolute;
        left: 16px;
        color: var(--content-disabled);
        pointer-events: none;
    }

    &__input {
        padding-left: 52px;
    }

    &.iconOnly {
        background: none;
        border: none;
        padding: 0;
        color: var(--content-primary);
    }
}
